[submodule "scripts/diff-so-fancy"]
	path = scripts/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
